/* General styles */
*, *:before, *:after {
    box-sizing: border-box;
  }

img{
    width: 100%;
    height: auto;
}

body {
    margin-top: 5em;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 650px;
    height: 350px !important;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 650px;
    height: 350px !important;
}

    .slide {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
    }

    .slide.animated {
        -webkit-transition: left .3s ease-in;
        transition: left .3s ease-in;
    }

/* Utility */
.simple-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

/* Nav */
.slider-controls{
    display: inline-flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

#prev,
#next {
    margin: 0;
    text-decoration: none;
    display: inline-block;
	font-family: 'Karla', 'Open Sans', 'Arial', sans-serif;
	font-size: 90%;
	padding: 10px 15px;
	background-color: #000;
	color: #fff;
	opacity: .6;
    z-index: 999999;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#prev{
    margin-right: 1px;
}

#prev:hover,
#next:hover { 
    opacity: 1;
 }


    